body{
    background-color: whitesmoke;
}
.arrow{
    position: absolute;
    left: 590px;
}

.one,.three, .theme{
    color: black;
} 
.main{
    background-color:#F5C6AA ;
    width: 1000px;
    height: 370px;
    margin: 0 auto 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    position: relative;

}
.one{
    width: 600px;
    padding: 20px;
}
.two{
    position:absolute;
    left: 650px;
    top: 120px;
}
.three{
    position: absolute;
    left: 850px;
    top: 150px;
}
.theme{
    text-align: center;
    
    
}
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.text:hover{
    color:#39A2DB;
}

#head{
    text-align: center;
}